/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e; /* fundo escuro */
  color: white; /* texto branco */
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  transition: background-color 0.3s ease; /* Transição suave ao mudar o fundo */
}

h1 {
  text-align: center;
  font-size: 36px;
  color: #f0f0f0;
  margin-bottom: 20px;
  text-transform: uppercase; /* Deixa o título em maiúsculas */
  letter-spacing: 2px; /* Aumenta o espaçamento entre as letras */
}

h3 {
  text-align: center;
  font-size: 24px;
  color: #f0f0f0;
  margin-bottom: 15px;
  font-weight: 600; /* Negrito nos subtítulos */
  text-transform: capitalize; /* Deixa os subtítulos mais destacados */
  transition: color 0.3s ease; /* Transição suave na cor */
}

h3:hover {
  color: #ff6347; /* Muda a cor do subtítulo ao passar o mouse */
}

/* Slider de imagens */
.slider-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.slider-container .active {
  display: block;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* Estilo do slider em dispositivos móveis */
@media (max-width: 768px) {
  .slider-container {
      width: 100%;
      height: auto;
  }

  .slide img {
      max-width: 100%;
  }

  button {
      font-size: 18px;
  }
}

/* Parágrafos */
p {
  margin-bottom: 15px;
  font-size: 16px;
  color: #d0d0d0;
}

/* Responsividade */
@media (max-width: 768px) {
  .bio-img {
      text-align: center;
  }
}
